# Server
PORT=4000
NODE_ENV=development
APP_BASE_URL=http://localhost:4000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mobifone_sonla
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=sssssffsdưdwdwwd
JWT_EXPIRES_IN=7d

# CORS
ALLOWED_ORIGINS=http://localhost:3000

# Admin mac dinh (dung khi chay seed)
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=

# reCAPTCHA v3
RECAPTCHA_SECRET_KEY=ưdfwfwffwwffw
RECAPTCHA_SITE_KEY=ưdffffwfw
RECAPTCHA_MIN_SCORE=0.5

# SMTP (Nodemailer)
SMTP_HOST=ưfffw
SMTP_PORT=587
SMTP_USER=ffwfw
SMTP_PASS=fff
SMTP_FROM=ffwf

# Anthropic (Chatbot AI)
ANTHROPIC_API_KEY=fwffwfwfwffwfwfwwf
ANTHROPIC_MODEL=claude-haiku-4-5

# Upload
UPLOAD_DIR=src/uploads
MAX_UPLOAD_SIZE_MB=5
GEOCODING_USER_AGENT=MobiFoneSonLa/1.0 (contact: admin@example.com)
